.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 375px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.group-container, .group-div, .group-parent, .rectangle-parent {
    margin: 0 auto;
    text-align: center;
}

.profile, .inicio-parent, .group-parent, .group-container {
    position: relative;
}

.perfil, .inicio, .chat, .productos, .comida, .electronicos, .ubicacion, .otros {
    font-weight: 500;
}

.rectangle-div, .group-child1, .group-child2, .group-child3, .group-child4, .group-child5, .group-child6, .group-child7, .group-child8, .group-item {
    background-color: #fe6f23;
    border-radius: 15px;
}

.en-camino, .rde4354324343 {
    font-size: 11px;
}

.paquete, .construccion, .electronicos, .otros {
    font-size: 21px;
}

.home-item {
    position: absolute;
    top: 701px;
    left: 0;
    border-top: 6px solid #fe6f23;
    width: 375px;
    height: 6px;
}

.perfil {
    position: absolute;
    top: 30.56px;
    left: 0;
    font-weight: 500;
    width: 32.3px;
    height: 13.8px;
}

.profileHome {
    position: absolute;
    height: 49.77%;
    width: 59.75%;
    top: 0;
    right: 12.95%;
    bottom: 50.23%;
    left: 27.29%;
    overflow: hidden;
}

.profile {
    position: absolute;
    top: 718.73px;
    left: 303.62px;
    width: 32.3px;
    height: 44.4px;
    cursor: pointer;
    color: #4a4b56;
}

.inicio {
    position: absolute;
    top: 30.62px;
    left: 0;
    font-weight: 500;
    width: 33.4px;
    height: 13.8px;
}

.homeHome {
    position: absolute;
    top: 0;
    left: 5.56px;
    width: 26.7px;
    height: 23.7px;
    overflow: hidden;
}

.inicio-parent {
    position: absolute;
    top: 717.7px;
    left: 8.07px;
    width: 33.4px;
    height: 44.4px;
    color: #4a4b56;
}

.chat-wrapper {
    position: absolute;
    top: 35.62px;
    left: 0;
    width: 34px;
    height: 11.7px;
}

.chat {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    width: 34px;
    height: 11.7px;
}

.chat-icon {
    position: absolute;
    height: 49.37%;
    width: 75.59%;
    top: 0;
    right: 20.54%;
    bottom: 50.63%;
    left: 3.87%;
    overflow: hidden;
}

.group-parent {
    position: absolute;
    top: 715.65px;
    left: 246.87px;
    width: 34px;
    height: 47.4px;
    color: #4a4b56;
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 39.44px;
    background-color: #fe6f23;
    width: 258px;
    height: 70.6px;
}

.group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 38.41px;
    background-color: #f2f2f2;
    width: 244.5px;
    height: 54.4px;
}

.productos {
    position: absolute;
    top: 16.96px;
    left: 20.68px;
    width: 102px;
    height: 22px;
}
.productos-input {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 188px;
    height: 57px;
    background-color: white;
    border-radius: 50px;
    border-color: #fe6f23;
    font-size: 19.62px;
    outline: none;
    z-index: 2;
}
.search {
    position: absolute;
    top: 23px;
    left: 210px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    z-index: 1;
}

.rectangle-group {
    position: relative;
    width: 244.5px;
    height: 54.4px;
}

.rectangle-parent {
    position: absolute;
    top: 65px;
    left: 20px;
    width: 258px;
    height: 70.6px;
    font-size: 19.62px;
    color: #a4a4a4;
}

.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15.28px;
    background-color: #f2f2f2;
    width: 328px;
    height: 90.7px;
}

.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 328px;
    height: 90.7px;
}

.paquete {
    position: absolute;
    top: 17.37px;
    left: 70.58px;
}

.rde4354324343 {
    position: absolute;
    top: 49.97px;
    left: 66.51px;
    font-size: 10.95px;
}

.rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13.79px;
    background-color: #fe6f23;
    width: 26.5px;
    height: 26.5px;
}

.chevron-right-icon {
    position: absolute;
    top: 6.62px;
    left: 6.62px;
    width: 13.2px;
    height: 13.2px;
    overflow: hidden;
}

.rectangle-container {
    position: absolute;
    top: 28px;
    left: 272px;
    width: 26.5px;
    height: 26.5px;
}

.group-child1 {
    position: absolute;
    top: 29.6px;
    left: 172.58px;
    border-radius: 12.22px;
    background-color: #1ee1ad;
    width: 86.6px;
    height: 24.4px;
}

.en-camino {
    position: absolute;
    top: 35.71px;
    left: 187.86px;
    font-size: 11.25px;
    color: #fff;
}

.truck {
    position: absolute;
    top: 17.37px;
    left: 9.39px;
    width: 48.9px;
    height: 48.9px;
    object-fit: cover;
}

.group-container {
    position: absolute;
    top: 575px;
    left: 18px;
    width: 328px;
    height: 90.7px;
    font-size: 20.95px;
}

.group-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 155px;
    height: 160px;
}

.group-child3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25.86px;
    background-color: #fe6f23;
    width: 50px;
    height: 50.6px;
}

.chevron-right-icon1 {
    position: absolute;
    top: 12.65px;
    left: 12.49px;
    width: 25px;
    height: 25.3px;
    overflow: hidden;
}

.rectangle-parent2 {
    position: absolute;
    top: 87.26px;
    left: 80.26px;
    width: 50px;
    height: 50.6px;
    cursor: pointer;
}

.rectangle-parent1 {
    position: absolute;
    top: 0;
    left: 5.03px;
    width: 155px;
    height: 160px;
}

.food {
    position: absolute;
    top: 66.24px;
    left: 0;
    width: 85.5px;
    height: 84.6px;
    object-fit: cover;
}

.comida {
    position: absolute;
    top: 26.5px;
    left: 37.23px;
    width: 74.5px;
    height: 25.5px;
}

.group-div {
    position: absolute;
    top: 170px;
    left: 15px;
    width: 160px;
    height: 160px;
    font-size: 21.28px;
}

.group-child4 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 160px;
    height: 160px;
}

.group-child5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25.86px;
    background-color: #fe6f23;
    width: 51.6px;
    height: 50.6px;
}

.chevron-right-icon2 {
    position: absolute;
    top: 12.65px;
    left: 12.9px;
    width: 25.8px;
    height: 25.3px;
    overflow: hidden;
}

.rectangle-parent4 {
    position: absolute;
    top: 87.26px;
    left: 82.87px;
    width: 51.6px;
    height: 50.6px;
    cursor: pointer;
}

.rectangle-parent3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}

.home-inner1 {
    position: absolute;
    top: 169px;
    left: 189px;
    width: 160px;
    height: 160px;
}
.home-inner {
    position: absolute;
    top: 693px;
    left: 143.37px;
    width: 79px;
    height: 70.1px;
    cursor: pointer;
}

.construccion {
    position: absolute;
    top: 187px;
    left: 207px;
    font-size: 21.28px;
    width: 129px;
    height: 23px;
}

.compass-icon-1 {
    position: absolute;
    top: 240px;
    left: 199px;
    width: 64px;
    height: 74px;
    object-fit: cover;
}

.group-child6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 152.1px;
    height: 160px;
}

.group-child7 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25.86px;
    background-color: #fe6f23;
    width: 49px;
    height: 50.6px;
}

.chevron-right-icon3 {
    position: absolute;
    top: 12.65px;
    left: 12.26px;
    width: 24.5px;
    height: 25.3px;
    overflow: hidden;
}

.rectangle-parent6 {
    position: absolute;
    top: 87.26px;
    left: 78.77px;
    width: 49px;
    height: 50.6px;
}

.rectangle-parent5 {
    position: absolute;
    top: 0;
    left: 7.9px;
    width: 152.1px;
    height: 160px;
}

.electronicos {
    position: absolute;
    top: 26px;
    left: 18px;
    width: 126px;
    height: 46px;
}

.business-icon {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.group-parent1 {
    position: absolute;
    top: 376px;
    left: 12px;
    width: 160px;
    height: 160px;
    font-size: 21.28px;
}

.hammer-icon {
    position: absolute;
    top: 1058px;
    left: 510px;
    width: 291px;
    height: 335px;
    overflow: hidden;
}

.text-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 63.4px;
    height: 17.8px;
}

.group-wrapper {
    position: absolute;
    top: 31.25px;
    left: 0;
    width: 63.4px;
    height: 17.8px;
}

.basic-location {
    position: absolute;
    top: 0;
    left: 9.55px;
    width: 36px;
    height: 31px;
    overflow: hidden;
}

.group-parent2 {
    position: absolute;
    top: 713px;
    left: 73.45px;
    width: 63.4px;
    height: 49px;
    cursor: pointer;
}

.group-icon {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 60px;
    height: 60px;
}

.otros {
    position: absolute;
    top: 26px;
    left: 13px;
    width: 126px;
    height: 46px;
}

.group-parent3 {
    position: absolute;
    top: 377px;
    left: 190px;
    width: 155px;
    height: 160px;
    font-size: 21.28px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.carrier {
    position: absolute;
    top: 72.5px;
    left: 300px;
    width: 55px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
}

/* Ajustes para pantallas grandes */
@media only screen and (min-width: 1024px) {
    .content-wrapper {
        max-width: 600px;
    }
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 767px) {
    .home {
        padding: 0 10px;
    }

    .content-wrapper {
        padding: 0;
    }
}
