.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    position: absolute;
    height: 2.25%;
    width: 8.33%;
    top: 2.19%;
    right: 83.78%;
    bottom: 95.56%;
    left: 7.88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--color);
}
.frame-icon {
    position: absolute;
    height: 1.54%;
    width: 19.22%;
    top: 2.61%;
    right: 7.96%;
    bottom: 95.86%;
    left: 72.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.orderhistory-child {
    position: absolute;
    height: 0.25%;
    width: 115.28%;
    top: 88.69%;
    right: -8.06%;
    bottom: 11.06%;
    left: -7.22%;
    border-top: 3px solid var(--orange);
    box-sizing: border-box;
}
.orderhistory-item {
    position: absolute;
    height: 0.75%;
    width: 22.22%;
    top: 88.5%;
    right: 58.89%;
    bottom: 10.75%;
    left: 18.89%;
    box-sizing: border-box;
}
.perfil {
    position: absolute;
    height: 31.03%;
    width: 100%;
    top: 68.84%;
    left: 0%;
    font-weight: 500;
    display: inline-block;
}
.user-icon {
    position: absolute;
    height: 57.81%;
    width: 89.58%;
    top: 6.66%;
    right: -6.83%;
    bottom: 35.53%;
    left: 17.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}
.iconlylight-outlineprofile {
    position: absolute;
    height: 52.46%;
    width: 64.82%;
    top: 0%;
    right: 4.13%;
    bottom: 47.54%;
    left: 31.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.profile {
    position: absolute;
    height: 5.6%;
    width: 8.53%;
    top: 90.61%;
    right: 3.94%;
    bottom: 3.79%;
    left: 87.54%;
    cursor: pointer;
}
.iconsaxlinearhome2 {
    position: absolute;
    height: 53.35%;
    width: 79.87%;
    top: 0%;
    right: 3.47%;
    bottom: 46.65%;
    left: 16.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.inicio-parent {
    position: absolute;
    height: 5.6%;
    width: 8.83%;
    top: 90.61%;
    right: 88.66%;
    bottom: 3.79%;
    left: 2.51%;
    cursor: pointer;
}
.orderhistory-inner {
    position: absolute;
    height: 8.82%;
    width: 20.89%;
    top: 87.38%;
    right: 37.47%;
    bottom: 3.8%;
    left: 41.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.iconsaxboldi3dcubescan {
    position: absolute;
    height: 6.88%;
    width: 16.11%;
    top: 7%;
    right: 3.33%;
    bottom: 87.25%;
    left: 80.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.viajes {
    position: absolute;
    height: 1.75%;
    width: 9.72%;
    top: 96.69%;
    left: 47.22%;
    font-weight: 500;
    display: inline-block;
}
.informacion-del-pedido {
    position: absolute;
    height: 9%;
    width: 56.94%;
    top: 6.75%;
    left: 22.22%;
    font-size: 24px;
    line-height: 140.63%;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.text {
    position: absolute;
    height: 77.55%;
    top: 0%;
    left: 10.53%;
    display: inline-block;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.iconsaxlinearmap {
    position: absolute;
    height: 133.16%;
    width: 42.11%;
    top: -171.8%;
    right: 26.29%;
    bottom: 138.64%;
    left: 31.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}
.ubicacion {
    position: absolute;
    height: 88.78%;
    width: 100%;
    top: 11.08%;
    left: 0%;
    font-weight: 500;
    color: black ;
    display: inline-block;
}
.text-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper {
    position: absolute;
    height: 37.05%;
    width: 100%;
    top: 63.06%;
    right: 0%;
    bottom: -0.12%;
    left: 0%;
}
.basic-location {
    position: absolute;
    height: 64.27%;
    width: 56.78%;
    top: 0%;
    right: 29.74%;
    bottom: 35.73%;
    left: 13.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-parent {
    position: absolute;
    height: 6.61%;
    width: 17.61%;
    top: 89.88%;
    right: 60.44%;
    bottom: 3.51%;
    left: 21.94%;
    cursor: pointer;
    color: #004d40;
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: var(--orange);
}
.chevron-right-icon {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 25%;
    right: 33.33%;
    bottom: 25%;
    left: 22.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    height: 6%;
    width: 13.33%;
    top: 6.88%;
    right: 81.39%;
    bottom: 87.13%;
    left: 5.28%;
    cursor: pointer;
}
.group-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15.28px;
    background-color: var(--grey);
}
.rde4354324343 {
    position: absolute;
    height: 3.64%;
    width: 32.05%;
    top: 3.36%;
    left: 12.76%;
    display: inline-block;
}
.fecha-del-pedido {
    position: absolute;
    width: 51.04%;
    top: 8.12%;
    left: 13.35%;
    display: inline-block;
}
.subtotal {
    margin: 0;
    white-space: pre-wrap;
}
.subtotal-10820-impuestos-container {
    position: absolute;
    width: 79.16%;
    top: 72.45%;
    left: 7.69%;
    display: inline-block;
}
.abcbabsdd-5810-4-container {
    position: absolute;
    width: 79.16%;
    top: 21.05%;
    left: 5.69%;
    display: inline-block;
}
.group-div {
    position: absolute;
    height: 82.35%;
    width: 84.87%;
    top: 13.45%;
    right: 3.86%;
    bottom: 4.2%;
    left: 11.28%;
    color: white;
}
.group-container {
    position: absolute;
    height: 44.63%;
    width: 93.61%;
    top: 16.75%;
    right: 2.5%;
    bottom: 38.63%;
    left: 3.89%;
    font-size: 10.95px;
    color: #004d40;
}
.whatsapp {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 56px;
    height: 13px;
}
.whatsapp-wrapper {
    position: absolute;
    top: 39.09px;
    left: 0px;
    width: 56px;
    height: 13px;
}
.chat-icon {
    position: absolute;
    height: 49.33%;
    width: 45.89%;
    top: 0%;
    right: 30.57%;
    bottom: 50.67%;
    left: 23.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-parent1 {
    position: absolute;
    top: 721px;
    left: 248px;
    width: 56px;
    height: 52.1px;
}
.orderhistory {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 360px;
    height: 800px;
    overflow: hidden;
}
.orderhistory-parent {
    width: 100%;
    position: relative;
    height: 800px;
    text-align: left;
    font-size: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

