.ubicaciones {
    position: absolute;
    top: 66px;
    left: 76px;
    font-size: 24px;
    font-weight: 900;
}
.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    position: absolute;
    height: 2.25%;
    width: 8.33%;
    top: 2.19%;
    right: 83.78%;
    bottom: 95.56%;
    left: 7.88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--color);
}
.frame-icon {
    position: absolute;
    height: 1.54%;
    width: 19.22%;
    top: 2.61%;
    right: 7.96%;
    bottom: 95.86%;
    left: 72.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background-color: var(--orange);
    width: 48px;
    height: 48px;
}
.chevron-right-icon {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    top: 58px;
    left: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.mis-ubicaciones-para {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    display: inline-block;
    width: 188px;
    height: 17px;
}
.mis-ubicaciones-para-envios-wrapper {
    position: absolute;
    top: 129px;
    left: 36px;
    width: 188px;
    height: 17px;
}
.direccion-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 76px;
    height: 16px;
}
.direccion-1-wrapper {
    position: absolute;
    top: 164px;
    left: 51px;
    width: 76px;
    height: 16px;
}
.direccion-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 117px;
    height: 15px;
}
.direccion-2-wrapper {
    position: absolute;
    top: 204px;
    left: 51px;
    width: 117px;
    height: 15px;
}
.admin-admin-admin {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 169px;
    height: 12px;
}
.admin-admin-admin-admin-wrapper {
    position: absolute;
    top: 185px;
    left: 51px;
    width: 169px;
    height: 12px;
}
.icon-edit-2 {
    position: absolute;
    height: 1.5%;
    width: 3.31%;
    top: 23.13%;
    right: 12.53%;
    bottom: 75.38%;
    left: 84.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.addDirec {
    position: absolute;
    top: 0px;
    left: 233px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.aadir-otra-direccion {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 144px;
    height: 15px;
}
.aadir-otra-direccion-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 144px;
    height: 15px;
}
.edit-plus-circle-outline-parent {
    position: absolute;
    top: 311px;
    left: 51px;
    width: 159px;
    height: 15px;
}
.admin-admin-admin1 {
    position: absolute;
    top: 228px;
    left: 51px;
    display: inline-block;
    width: 169px;
    height: 12px;
}
.icon-edit-21 {
    position: absolute;
    height: 1.5%;
    width: 3.06%;
    top: 28.5%;
    right: 12.78%;
    bottom: 70%;
    left: 84.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.icon-trash {
    position: absolute;
    height: 1.5%;
    width: 3.33%;
    top: 28.5%;
    right: 20.28%;
    bottom: 70%;
    left: 76.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.icon-trash1 {
    position: absolute;
    height: 1.5%;
    width: 3.33%;
    top: 23%;
    right: 20%;
    bottom: 75.5%;
    left: 76.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.locations {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 360px;
    height: 800px;
    overflow: hidden;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 800px;
}
.group-parent {
    width: 100%;
    position: relative;
    height: 800px;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-black);
    font-family: var(--font-roboto);
}


.addaddress-child {
    position: absolute;
    top: 61px;
    left: 22px;
    border-radius: 15.52px;
    background-color: var(--grey);
    width: 171px;
    height: 14px;
}
.addaddress-item {
    position: absolute;
    top: 40px;
    left: 22px;
    border-radius: 15.52px;
    background-color: var(--grey);
    width: 158px;
    height: 16px;
}
.direccion {
    position: absolute;
    top: 41px;
    left: 29px;
    display: inline-block;
    width: 162px;
    height: 15px;
    opacity: 0.8;
}
.ingrese-la-direccion {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    display: inline-block;
    width: 188px;
    height: 17px;
}
.ingrese-la-direccion-wrapper {
    position: absolute;
    top: 19px;
    left: 20px;
    width: 188px;
    height: 17px;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 12px;
    background-color: var(--orange);
}
.addaddress-inner {
    position: absolute;
    top: 89px;
    left: 183px;
    width: 104px;
    height: 20px;
    cursor: pointer;
}
.admin-admin-admin2 {
    position: absolute;
    top: 60px;
    left: 29px;
    display: inline-block;
    width: 162px;
    height: 15px;
    opacity: 0.8;
}
.crear {
    position: absolute;
    top: 91px;
    left: 195px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    width: 79px;
    height: 13px;
}
.instance-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 12px;
    background-color: #007bff;
}
.rectangle-div {
    position: absolute;
    top: 89px;
    left: 43px;
    width: 104px;
    height: 20px;
    cursor: pointer;
}
.cancelar {
    position: absolute;
    top: 92px;
    left: 55px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    width: 79px;
    height: 13px;
}
.addaddress {
    width: 330px;
    position: relative;
    border-radius: 12px;
    background-color: white;
    height: 120px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-black);
    font-family: var(--font-roboto);
}

