body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.login {
    width: 100%;
    padding: 5%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;
}

.hola-bienvenido {
    font-size: 24px;
    line-height: 140.63%;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.truck {
    display: block;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.text-field-outline-text, .text-field-outline-text1 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    height: 48px;
    max-width: 360px;
    margin: 10px auto;
}

.rectangle {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #f2f3f2;
    border-radius: 5px;
}

.input {
    position: absolute;
    width: calc(100% - 12vw);
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    letter-spacing: 0.15px;
    line-height: 24px;
    display: inline-block;
    color: rgba(39, 52, 49, 0.6);
    background-color: transparent;
    border: none;
    outline: none;
}

.user-user, .password-1-icon {
    position:absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.olvidaste-tu-contrasea-container {
    font-size: 12px;
    letter-spacing: 0.15px;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.button-container {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 56px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started {
    width: 100%;
    height: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.get-started.enabled {
    background-color: #fe6f23;
    cursor: pointer;
}

.chevrons-right-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .login {
        max-width: 100%;
    }

    .text-field-outline-text, .text-field-outline-text1 {
        max-width: 100%;
    }

    .button-container {
        max-width: 100%;
    }
}
