.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #f1f1f1;
}
.food-inner {
    position: absolute;
    top: 100px;
    left: 38px;
    width: 206px;
    height: 27px;
}
.group-child {
    position: absolute;
    top: 354px;
    left: 520px;
    border-radius: 39.44px;
    background-color: #fe6f23;
    width: 248px;
    height: 63px;
}
.group-item {
    position: absolute;
    top: 358.79px;
    left: 524.47px;
    border-radius: 38.41px;
    width: 237.5px;
    height: 53.2px;
}
.lugar-de-entrega {
    position: absolute;
    top: 365px;
    left: 541px;
    background-color:#f2f2f2;
    color: gray;
    border: none;
    display: inline-block;
    width: 200px;
    height: 40px;
}
.iconsaxlinearsearchnormal1 {
    position: absolute;
    top: 85.91px;
    left: 716.26px;
    width: 21.8px;
    height: 23.2px;
    overflow: hidden;
}
.food-child {
    position: absolute;
    top: 705px;
    left: 406px;
    width: 434px;
    height: 0px;
    object-fit: contain;
}
.food-item {
    position: absolute;
    top: 701px;
    left: -12px;
    border-top: 6px solid #fe6f23;
    box-sizing: border-box;
    width: 83px;
    height: 6px;
}
.perfil {
    position: absolute;
    top: 46.73px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 32.3px;
    height: 13.8px;
}
.user-icon {
    position: absolute;
    height: 39.27%;
    width: 80.19%;
    top: -59.96%;
    right: 11.94%;
    bottom: 120.68%;
    left: 7.87%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}
.iconlylight-outlineprofile {
    position: absolute;
    height: 35.64%;
    width: 58.2%;
    top: 0%;
    right: 17.19%;
    bottom: 64.36%;
    left: 24.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.profile {
    position: absolute;
    top: 702.56px;
    left: 295.62px;
    width: 32.3px;
    height: 60.6px;
    cursor: pointer;
}
.inicio {
    position: absolute;
    top: 30.62px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 33.4px;
    height: 13.8px;
}
.iconsaxlinearhome2 {
    position: absolute;
    top: 0px;
    left: 5.56px;
    width: 26.7px;
    height: 23.7px;
    overflow: hidden;
}
.inicio-parent {
    position: absolute;
    top: 717.7px;
    left: 8.07px;
    width: 33.4px;
    height: 44.4px;
    cursor: pointer;
}
.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    position: absolute;
    height: 2.3%;
    width: 8.58%;
    top: 2.29%;
    right: 83.92%;
    bottom: 95.41%;
    left: 7.51%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #171321;
}
.frame-icon {
    position: absolute;
    height: 1.53%;
    width: 19.24%;
    top: 2.73%;
    right: 8.2%;
    bottom: 95.74%;
    left: 72.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon {
    position: absolute;
    top: 693px;
    left: 139.37px;
    width: 79px;
    height: 70.1px;
    cursor: pointer;
}
.chat {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 34px;
    height: 11.7px;
}
.chat-wrapper {
    position: absolute;
    top: 51.73px;
    left: 0px;
    width: 34px;
    height: 11.7px;
}
.chat-icon {
    position: absolute;
    height: 36.06%;
    width: 73.24%;
    top: 0%;
    right: 25.97%;
    bottom: 63.94%;
    left: 0.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-div {
    position: absolute;
    top: 699.54px;
    left: 240.87px;
    width: 34px;
    height: 63.5px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 39.44px;
    background-color: #fe6f23;
    width: 258px;
    height: 70.6px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 38.41px;
    background-color: #f2f2f2;
    width: 244.5px;
    height: 54.4px;
}
.lugar-de-entrega1 {
    position: absolute;
    top: 16.96px;
    left: 19.68px;
    display: inline-block;
    width: 158px;
    height: 22px;
}
.iconsaxlinearsearchnormal11 {
    position: absolute;
    top: 14.85px;
    left: 173.87px;
    width: 22.4px;
    height: 23.8px;
    overflow: hidden;
}
.rectangle-container {
    position: absolute;
    top: 8.04px;
    left: 6.32px;
    width: 244.5px;
    height: 54.4px;
}
.rectangle-group {
    position: absolute;
    top: 65px;
    left: 20px;
    width: 258px;
    height: 70.6px;
    font-size: 19.62px;
    color: #a4a4a4;
}
.hammer-icon {
    position: absolute;
    top: 1058px;
    left: 500px;
    border-radius: 200px;
    width: 291px;
    height: 335px;
    overflow: hidden;
    object-fit: cover;
}
.text {
    position: absolute;
    top: 0px;
    left: 4.68px;
    display: inline-block;
    height: 13.8px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.iconsaxlinearmap {
    position: absolute;
    top: -30.62px;
    left: 18.03px;
    width: 26.7px;
    height: 23.7px;
    overflow: hidden;
    display: none;
}
.ubicacion {
    position: absolute;
    top: 1.98px;
    left: 0px;
    font-weight: 500;
    color: #4a4b56;
    display: inline-block;
    width: 63.4px;
    height: 15.8px;
}
.text-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 63.4px;
    height: 17.8px;
}
.group-frame {
    position: absolute;
    top: 31.25px;
    left: 0px;
    width: 63.4px;
    height: 17.8px;
}
.basic-location {
    position: absolute;
    top: 0px;
    left: 7.55px;
    width: 36px;
    height: 31px;
    overflow: hidden;
}
.group-parent1 {
    position: absolute;
    top: 713px;
    left: 72.45px;
    width: 63.4px;
    height: 49px;
    cursor: pointer;
    color: #000;
}
.comida {
    position: absolute;
    top: 238px;
    left: 35px;
    font-size: 21.28px;
    display: inline-block;
    color: #000;
    width: 186px;
    height: 25px;
}
.iconsaxboldi3dcubescan {
    position: absolute;
    top: 74px;
    left: 278px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    object-fit: contain;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 309px;
    height: 233px;
}
.rectangle-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 309px;
    height: 233px;
}
.food-inner1 {
    position: absolute;
    top: 263px;
    left: 26px;
    width: 309px;
    height: 233px;
}
.cantidad-input {
    position: absolute;
    top: 102px;
    left: 258px;
    width: 70px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.food1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 349.8px;
    height: 782px;
    overflow: hidden;
    font-size: 12px;
    color: #4a4b56;
}
.selecciona-tu-producto {
    margin: 0;
    background-color: #fe6f23;
    color: white;
    border: none;
    font-size: 21px;
}
.comida1 {
    position: absolute;
    top: 33px;
    left: 532px;
    font-size: 21.28px;
    display: inline-block;
    width: 317px;
    height: 25px;
}
.producto {
    position: absolute;
    top: 136px;
    left: 540px;
    font-size: 32px;
    font-weight: 600;
    font-family: Poppins;
    text-align: center;
}
.vector-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 849px;
    height: 782px;
}
.cantidad {
    position: absolute;
    top: 184px;
    left: 768px;
    font-size: 10px;
    font-weight: 500;
}
.rectangle-parent {
    position: absolute;
    top: -105px;
    left: -508px;
    width: 849px;
    height: 782px;
    font-size: 19.62px;
}
.vector-icon {
    position: absolute;
    height: 2.42%;
    width: 5.03%;
    top: 33.63%;
    right: 36.08%;
    bottom: 63.95%;
    left: 58.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.hammer-icon1 {
    position: absolute;
    top: 1058px;
    left: 510px;
    border-radius: 200px;
    width: 291px;
    height: 335px;
    overflow: hidden;
    object-fit: cover;
}
.comida2 {
    position: absolute;
    top: 344px;
    left: 26px;
    display: inline-block;
    width: 186px;
    height: 25px;
}
.food-inner2 {
    position: absolute;
    top: 384px;
    left: 26px;
    width: 309px;
    height: 233px;
}
.instance-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #fe6f23;
}
.rectangle-wrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 153px;
    height: 41px;
}
.calcular {
    position: absolute;
    top: 7px;
    left: 21px;
    font-weight: 600;
    display: inline-block;
    width: 116.2px;
    height: 26.6px;
}
.instance-parent {
    position: absolute;
    top: 649px;
    left: 111px;
    width: 153px;
    height: 41px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}
.comida3 {
    position: absolute;
    top: 169px;
    left: 29px;
    display: inline-block;
    width: 317px;
    height: 25px;
}
.icon-arrow-drop-down-fill {
    position: absolute;
    top: 102px;
    left: 218px;
    width: 24px;
    height: 24px;
}
.selecciona-tu-producto1 {
    position: absolute;
    top: 175px;
    left: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    width: 200px;
    height: 38px;

}
.rectangle-icon {
    position: absolute;
    top: 100px;
    left: 258px;
    width: 43px;
    height: 27px;
}
.food {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 360px;
    height: 800px;
    overflow: hidden;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 800px;
}
.group-parent {
    width: 100%;
    position: relative;
    height: 800px;
    text-align: left;
    font-size: 21.28px;
    color: #000;
    font-family: Roboto;
}

