.food-child {
    position: absolute;
    top: 705px;
    left: -28px;
    max-height: 100%;
    width: 434px;
    object-fit: contain;
}
.food-item {
    position: absolute;
    top: 701px;
    left: -12px;
    border-top: 6px solid #fe6f23;
    box-sizing: border-box;
    width: 83px;
    height: 6px;
}
.perfil {
    position: absolute;
    top: 30.56px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 32.3px;
    height: 13.8px;
}
.user-icon {
    position: absolute;
    height: 54.73%;
    width: 82.66%;
    top: -83.72%;
    right: 7.27%;
    bottom: 128.99%;
    left: 10.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}
.iconlylight-outlineprofile {
    position: absolute;
    height: 49.77%;
    width: 59.75%;
    top: 0%;
    right: 12.95%;
    bottom: 50.23%;
    left: 27.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.profile {
    position: absolute;
    top: 718.73px;
    left: 303.62px;
    width: 32.3px;
    height: 44.4px;
    cursor: pointer;
}
.inicio {
    position: absolute;
    top: 30.62px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 33.4px;
    height: 13.8px;
}
.iconsaxlinearhome2 {
    position: absolute;
    top: 0px;
    left: 5.56px;
    width: 26.7px;
    height: 23.7px;
    overflow: hidden;
}
.inicio-parent {
    position: absolute;
    top: 717.7px;
    left: 8.07px;
    width: 33.4px;
    height: 44.4px;
    cursor: pointer;
}
.food-inner {
    position: absolute;
    top: calc(50% - 381.51px);
    left: calc(50% - 152.54px);
    width: 30px;
    height: 18px;
}
.group-icon {
    position: absolute;
    top: 693px;
    left: 143.37px;
    width: 79px;
    height: 70.1px;
    cursor: pointer;
}
.chat {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 34px;
    height: 11.7px;
}
.chat-wrapper {
    position: absolute;
    top: 35.62px;
    left: 0px;
    width: 34px;
    height: 11.7px;
}
.chat-icon {
    position: absolute;
    height: 49.37%;
    width: 75.59%;
    top: 0%;
    right: 20.54%;
    bottom: 50.63%;
    left: 3.87%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-container {
    position: absolute;
    top: 715.65px;
    left: 246.87px;
    width: 34px;
    height: 47.4px;
}


.lugar-de-entrega {
    position: absolute;
    top: 10px;
    left: 579px;
    display: inline-block;
    width: 158px;
    height: 22px;
}
.lupa {
    position: absolute;
    top: 87.89px;
    left: 737.18px;
    width: 22.4px;
    height: 23.8px;
    overflow: hidden;
}
.line-icon {
    position: absolute;
    top: 705px;
    left: 406px;
    width: 434px;
    height: 0px;
    object-fit: contain;
}
.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    position: absolute;
    height: 2.25%;
    width: 8.33%;
    top: 2.31%;
    right: 84.04%;
    bottom: 95.44%;
    left: 7.63%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #171321;
}
.frame-icon {
    position: absolute;
    height: 1.54%;
    width: 19.22%;
    top: 2.73%;
    right: 8.21%;
    bottom: 95.74%;
    left: 72.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-inner {
    position: absolute;
    top: -40px;
    left: 0px;
    border-radius: 39.44px;
    background-color: #fe6f23;
    width: 258px;
    height: 70.6px;
}
.rectangle-div {
    position: absolute;
    top: -40px;
    left: 0px;
    border-radius: 38.41px;
    background-color: #f2f2f2;
    width: 244.5px;
    height: 54.4px;
}
.lugar-de-entrega1 {
    position: absolute;
    top: -25px;
    left: 20.68px;
    display: inline-block;
    width: 158px;
    height: 22px;
    border: none;
    background-color: #f2f2f2;
}
.rectangle-div-search{
    position: absolute;
    background-color: #f2f2f2;
    border: none;
    border-radius: 25px;
    top: 1px;
    left: 1px;
    width: 190px;
    height: 50px;
}
.ubiCliente{
    position:relative;
    background-color: black;
    width: 100%;
    top: 25px;
}
.ubicacion-input{
    position: absolute;
    background-color: #f2f2f2;
    border-color: gray;
    top: 100px;
    left: -70px;
}
.ubicacion-input1{
    position: absolute;
    background-color: #f2f2f2;
    border-color: gray;
    top: 150px;
    left: -70px;
}
.iconsaxlinearsearchnormal11 {
    position: absolute;
    top: -25px;
    left: 200.87px;
    width: 22.4px;
    height: 23.8px;
    overflow: hidden;
}
.rectangle-parent1 {
    position: absolute;
    top: 8.04px;
    left: 6.32px;
    width: 244.5px;
    height: 54.4px;
}
.rectangle-container {
    position: absolute;
    top: 65px;
    left: 20px;
    width: 258px;
    height: 70.6px;
    font-size: 19.62px;
    color: #a4a4a4;
}
.hammer-icon {
    position: absolute;
    top: 1058px;
    left: 510px;
    border-radius: 200px;
    width: 291px;
    height: 335px;
    overflow: hidden;
    object-fit: cover;
}
.text {
    position: absolute;
    top: 0px;
    left: 6.68px;
    display: inline-block;
    height: 13.8px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.iconsaxlinearmap {
    position: absolute;
    top: -30.62px;
    left: 20.03px;
    width: 26.7px;
    height: 23.7px;
    overflow: hidden;
    display: none;
}
.ubicacion {
    position: absolute;
    top: 1.98px;
    left: 0px;
    font-weight: 500;
    color: #4a4b56;
    display: inline-block;
    width: 63.4px;
    height: 15.8px;
}
.text-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 63.4px;
    height: 17.8px;
}
.group-frame {
    position: absolute;
    top: 31.25px;
    left: 0px;
    width: 63.4px;
    height: 17.8px;
}
.basic-location {
    position: absolute;
    top: 0px;
    left: 9.55px;
    width: 36px;
    height: 31px;
    overflow: hidden;
}
.group-parent1 {
    position: absolute;
    top: 713px;
    left: 73.45px;
    width: 63.4px;
    height: 49px;
    cursor: pointer;
    color: #000;
}
.mapaEntrega {
    position: absolute;
    top: 115px;
    left: 36px;
    font-size: 21.28px;
    display: inline-block;
    color: #000;
    width: 186px;
    height: 25px;
}
.iconsaxboldi3dcubescan {
    position: absolute;
    top: 32px;
    left: 286px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    object-fit: contain;
}
.group-child1 {
    position: relative;
    top: -110px;
    left: -20px;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 360px;
    height: 350px;
}
.rectangle-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 309px;
    height: 233px;
}
.food-inner1 {
    position: absolute;
    top: 263px;
    left: 27px;
    width: 309px;
    height: 233px;
}
.food1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 360px;
    height: 800px;
    overflow: hidden;
    font-size: 12px;
    color: #4a4b56;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 802.8px;
    height: 800px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: -532px;
    width: 810px;
    height: 800px;
    font-size: 19.62px;
    color: #a4a4a4;
}
.comida1 {
    position: absolute;
    top: 154px;
    left: 30px;
    font-size: 21.28px;
    display: inline-block;
    color: #000;
    width: 186px;
    height: 25px;
}
.food-inner2 {
    position: absolute;
    top: 217px;
    left: 25px;
    width: 309px;
    height: 233px;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 250px;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #fe6f23;
}
.rectangle-wrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 153px;
    height: 41px;
}
.agregar {
    position: absolute;
    top: 257px;
    left: 21px;
    font-weight: 600;
    display: inline-block;
    width: 116.2px;
    height: 26.6px;
}
.instance-parent {
    position: absolute;
    top: 504px;
    left: 103px;
    width: 153px;
    height: 41px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}
.food {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 360px;
    height: 800px;
    overflow: hidden;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 800px;
}
.group-parent {
    width: 100%;
    position: relative;
    height: 800px;
    text-align: left;
    font-size: 12px;
    color: #4a4b56;
    font-family: Roboto;
}

