.billetera {
    position: absolute;
    top: 66px;
    left: 76px;
    font-size: 24px;
    font-weight: 900;
}
.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    position: absolute;
    height: 2.25%;
    width: 8.33%;
    top: 2.19%;
    right: 83.78%;
    bottom: 95.56%;
    left: 7.88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #171321;
}
.frame-icon {
    position: absolute;
    height: 1.54%;
    width: 19.22%;
    top: 2.61%;
    right: 7.96%;
    bottom: 95.86%;
    left: 72.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background-color: #fe6f23;
    width: 48px;
    height: 48px;
}
.chevron-right-icon {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    top: 58px;
    left: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.detalles-de-pago {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    display: inline-block;
    width: 188px;
    height: 17px;
}
.detalles-de-pago-wrapper {
    position: absolute;
    top: 129px;
    left: 36px;
    width: 188px;
    height: 17px;
}
.tarjeta-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 76px;
    height: 16px;
}
.tarjeta-1-wrapper {
    position: absolute;
    top: 164px;
    left: 51px;
    width: 76px;
    height: 16px;
}
.tarjeta-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 117px;
    height: 15px;
}
.tarjeta-2-wrapper {
    position: absolute;
    top: 204px;
    left: 51px;
    width: 117px;
    height: 15px;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 169px;
    height: 12px;
}
.container {
    position: absolute;
    top: 185px;
    left: 51px;
    width: 169px;
    height: 12px;
}
.edit-plus-circle-outline {
    position: absolute;
    top: 147px;
    left: 168px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
}
.aadir-otra-tarjeta {
    position: absolute;
    top: 147px;
    left: 24px;
    font-weight: 500;
    display: inline-block;
    width: 144px;
    height: 15px;
}
.basic-credit-card {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.basic-credit-card1 {
    position: absolute;
    top: 39px;
    left: 0px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.aadir-otra-tarjeta-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 168px;
    height: 162px;
}
.edit-plus-circle-outline-parent {
    position: absolute;
    top: 164px;
    left: 27px;
    width: 183px;
    height: 162px;
}
.div2 {
    position: absolute;
    top: 228px;
    left: 51px;
    display: inline-block;
    width: 169px;
    height: 12px;
}
.icon-trash {
    position: absolute;
    height: 1.5%;
    width: 3.33%;
    top: 28.5%;
    right: 20.28%;
    bottom: 70%;
    left: 76.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.icon-trash1 {
    position: absolute;
    height: 1.5%;
    width: 3.33%;
    top: 23%;
    right: 20%;
    bottom: 75.5%;
    left: 76.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wallet-child {
    position: absolute;
    top: 155px;
    left: 0px;
    width: 434px;
    height: 0px;
    object-fit: contain;
    opacity: 0.7;
}
.wallet-item {
    position: absolute;
    top: 203px;
    left: -21px;
    width: 434px;
    height: 0px;
    object-fit: contain;
    opacity: 0.7;
}
.wallet {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 360px;
    height: 800px;
    overflow: hidden;
}
.wallet-parent {
    width: 100%;
    position: relative;
    height: 800px;
    text-align: left;
    font-size: 13px;
    color: #000;
    font-family: Roboto;
}


.addaddress-child {
    position: absolute;
    top: 61px;
    left: 22px;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 171px;
    height: 14px;
}
.addaddress-item {
    position: absolute;
    top: 40px;
    left: 22px;
    border-radius: 15.52px;
    background-color: #f2f2f2;
    width: 158px;
    height: 16px;
}
.direccion {
    position: absolute;
    top: 41px;
    left: 29px;
    display: inline-block;
    width: 162px;
    height: 15px;
    opacity: 0.8;
}
.ingrese-la-direccion {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    display: inline-block;
    width: 188px;
    height: 17px;
}
.ingrese-la-direccion-wrapper {
    position: absolute;
    top: 19px;
    left: 20px;
    width: 188px;
    height: 17px;
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #fe6f23;
}
.addaddress-inner {
    position: absolute;
    top: 89px;
    left: 183px;
    width: 104px;
    height: 20px;
    cursor: pointer;
}
.admin-admin-admin {
    position: absolute;
    top: 60px;
    left: 29px;
    display: inline-block;
    width: 162px;
    height: 15px;
    opacity: 0.8;
}
.crear {
    position: absolute;
    top: 91px;
    left: 195px;
    font-size: 10px;
    font-weight: 600;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 79px;
    height: 13px;
}
.instance-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #743d73;
}
.rectangle-div {
    position: absolute;
    top: 89px;
    left: 43px;
    width: 104px;
    height: 20px;
    cursor: pointer;
}
.cancelar {
    position: absolute;
    top: 92px;
    left: 55px;
    font-size: 10px;
    font-weight: 600;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 79px;
    height: 13px;
}
.addaddress {
    width: 330px;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    height: 120px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 13px;
    color: #000;
    font-family: Roboto;
}

