.ingresa-los-tus {
    position: absolute;
    top: 7.88%;
    left: 6.67%;
    font-size: 24px;
    line-height: 140.63%;
    width: 85.28%;
    display: inline-block;
    color: #000;
}

.rectangle {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f2f3f2;
}

.input {
    position: absolute;
    width: calc(100% - 108px);
    top: 18.4px;
    left: 56px;
    letter-spacing: 0.15px;
    line-height: 24px;
    display: inline-block;
}

.user-user,
.icon {
    position: absolute;
    height: 42.88%;
    width: 7.31%;
    top: 28.57%;
    left: 4.88%;
    max-width: 100%;
    overflow: hidden;
}

.text-field-outline-text,
.text-field-outline-text1,
.text-field-outline-text2,
.text-field-outline-text3,
.text-field-outline-text4,
.text-field-outline-text5 {
    position: absolute;
    height: 8.13%;
    width: 86.67%;
    left: 6.67%;
}

.text-field-outline-text {
    top: 17.38%;
}

.text-field-outline-text1 {
    top: 27%;
}

.text-field-outline-text2 {
    top: 36.63%;
}

.text-field-outline-text3 {
    top: 46.25%;
}

.text-field-outline-text4 {
    top: 55.88%;
}

.text-field-outline-text5 {
    top: 65.5%;
}

.chevrons-right-icon {
    position: absolute;
    height: 42.91%;
    width: 8.38%;
    top: 28.57%;
    right: 8.75%;
    max-width: 100%;
    overflow: hidden;
}

.rectangle-parent {
    position: absolute;
    top: 85.25%;
    left: 15.56%;
    width: 70.28%;
    height: 6.88%;
    cursor: pointer;
    font-size: 24.56px;
    color: #fff;
}

.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #fe6f23;
}

.get-started {
    position: absolute;
    top: 16.07%;
    left: 19.23%;
    font-weight: 600;
    white-space: pre-wrap;
}

.style-3 {
    font-weight: 300;
    text-align: center;
}

.text {
    position: absolute;
    top: 77.25%;
    left: 8.61%;
    width: 79.44%;
    height: 10.75%;
    text-align: center;
    font-size: 13px;
    color: #171321;
}

.registrodatospersonales {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 800px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: rgba(39, 52, 49, 0.6);
    font-family: Poppins;
}
